.NavBar {
    width: 100%;
    color: #FFF;
    background-color: #574B90;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;

        .left-side {
            padding: 18px 32px;
        }

        .right-side {
            padding: 18px 32px;
            
            a:first-child {
                margin-right: 32px;
            }
        }
    }
}