{% extends "base.html" %}

{% block title %}{{ block.super }} | History{% endblock %}

{% block content %}
	{% if bills %}
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--1-offset-desktop mdl-cell--10-col-desktop">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">#</th>
				<th class="mdl-data-table__cell--non-numeric">Buyer's Name</th>
				<th class="mdl-data-table__cell--non-numeric">Buyer's GST</th>
				<th class="mdl-data-table__cell--non-numeric">Date</th>
				<th class="mdl-data-table__cell">Total</th>
			</tr>
		</thead>
		<tbody>
			{% for bill in bills %}
			<tr>
				<td class="mdl-data-table__cell--non-numeric"><a href="{% url 'bill:summary' bill.id %}">{{ bill.invoice }}</a></td>
				<td class="mdl-data-table__cell--non-numeric">{{ bill.buyer_name }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ bill.buyer_gstin }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ bill.date_of_issue }}</td>
				<td class="mdl-data-table__cell">{{ bill.total|floatformat:2 }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h3>You haven't entered any bill</h3>
	{% endif %}

{% endblock %}
<!-- <h1>You are in Bill app | History</h1>

{% if bills %}
<table border="1">
	<tr>
		<th>Invoice No.</th>
		<th>Output</th>
		<th>Output GST</th>
		<th>Input</th>
		<th>Input GST</th>
		<th>Date of issue</th>
		<th>Total</th>
	</tr>
	{% for bill in bills %}
	<tr>
		<td><a href="{% url 'bill:detail' bill.id %}">{{ bill.id }}</td>
		<td>{{ bill.output_name }}</td>
		<td>{{ bill.output_gstin }}</td>
		<td>{{ bill.input_name }}</td>
		<td>{{ bill.input_gstin }}</td>
		<td>{{ bill.date_of_issue }}</td>
		<td>{{ bill.total }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<h2>You haven't entered any bills</h2>
{% endif %} -->