{% extends "base.html" %}

{% block title %}{{ block.super }} | Add Products{% endblock %}

{% block content %}
	<div class="mdl-grid">
		<h3 class="mdl-cell mdl-cell--12-col text-center">Add Products</h3>
	</div>
	
	{% if add_product.errors %}
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col"><i class="material-icons">warning</i><strong>Please enter all the details</strong></div>
		</div>
	{% endif %}

	<div class="mdl-grid">
		<form method="post">
			{% csrf_token %}

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--2-offset-desktop mdl-cell--5-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="id_{{ add_product.description.name }}" name="{{ add_product.description.name }}" value="{% if add_product.description.value != None %}{{ add_product.description.value }}{% endif %}">
				<label class="mdl-textfield__label" >Description</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="id_{{ add_product.item_type.name }}" name="{{ add_product.item_type.name }}" value="{% if add_product.item_type.value != None %}{{ add_product.item_type.value }}{% endif %}">
				<label class="mdl-textfield__label" >Item Type</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ add_product.hsn.name }}" name="{{ add_product.hsn.name }}" value="{% if add_product.hsn.value != 0 %}{{ add_product.hsn.value }}{% endif %}"hsn>
				<label class="mdl-textfield__label" >HSN</label>
			</div>

			<div class="mdl-cell mdl-cell--1-col-phone mdl-cell--1-offset-tablet mdl-cell--1-col-tablet mdl-cell--2-offset-desktop mdl-cell--3-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ add_product.quantity.name }}" name="{{ add_product.quantity.name }}" value="{% if add_product.quantity.value != 0 %}{{ add_product.quantity.value }}{% endif %}"quantity>
				<label class="mdl-textfield__label" >Qty</label>
			</div>

			<div class="mdl-cell mdl-cell--3-col-phone mdl-cell--4-col-tablet mdl-cell--5-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ add_product.rate.name }}" name="{{ add_product.rate.name }}" value="{% if add_product.rate.value != 0 %}{{ add_product.rate.value }}{% endif %}" step=".01">
				<label class="mdl-textfield__label" >Rate (₹)</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ add_product.discount.name }}" name="{{ add_product.discount.name }}" value="{% if add_product.discount.value != 0 %}{{ add_product.discount.value }}{% endif %}">
				<label class="mdl-textfield__label" >Disc (%)</label>
			</div>

			<div class="mdl-cell mdl-cell--2-col-phone mdl-cell--1-offset-tablet mdl-cell--2-col-tablet mdl-cell--2-offset-desktop mdl-cell--4-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ add_product.cgst_rate.name }}" name="{{ add_product.cgst_rate.name }}" value="{% if add_product.cgst_rate.value != 0 %}{{ add_product.cgst_rate.value }}{% endif %}" step=".01">
				<label class="mdl-textfield__label" >CGST (%)</label>
			</div>

			<div class="mdl-cell mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-cell--4-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ add_product.sgst_rate.name }}" name="{{ add_product.sgst_rate.name }}" value="{% if add_product.sgst_rate.value != 0 %}{{ add_product.sgst_rate.value }}{% endif %}" step=".01">
				<label class="mdl-textfield__label" >SGST (%)</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--2-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ add_product.igst_rate.name }}" name="{{ add_product.igst_rate.name }}" value="{% if add_product.igst_rate.value != 0 %}{{ add_product.igst_rate.value }}{% endif %}">
				<label class="mdl-textfield__label" step=".01">IGST (%)</label>
			</div>

			<button class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--3-col-tablet mdl-cell--3-offset-desktop mdl-cell--3-col-desktop mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" id="show-snack-button">Add</button>

			<a class="mdl-cell mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" href="{% url 'bill:summary' bill.id %}">Done</a>

		</form>

		
	</div>

	{% if products %}
	<div class="mdl-grid">
		<table class="mdl-cell mdl-cell--4-col-phone mdl-cell--2-offset-tablet mdl-cell--4-offset-desktop mdl-cell--4-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Item</th>
					<th class="mdl-data-table__cell">Qty</th>
					<th class="mdl-data-table__cell">Amt</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
				<tr>
					<td class="mdl-data-table__cell--non-numeric">{{ product.description }}</td>
					<td class="mdl-data-table__cell">{{ product.quantity }}</td>
					<td class="mdl-data-table__cell">{{ product.amount|floatformat:2 }}</td>
				</tr>
				{% endfor %}
			</tbody>	
		</table>
	</div>
	{% endif %}

{% endblock %}