{% extends "base.html" %}

{% block title %}{{ block.super }} | New bill{% endblock %}

{% block content %}

	<div class="mdl-grid">
		<h3 class="mdl-cell mdl-cell--12-col text-center">Add Buyer's detail</h3>
	</div>

	{% if bill.errors %}
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--col-6"><i class="material-icons">warning</i><strong>    Please enter all the details</strong></div>
		</div>
	{% endif %}
<!-- 
	<div class="mdl-grid"> -->
		<form class="mdl-grid" method="post">
			{% csrf_token %}
					
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" id="id_{{ bill.buyer_name.name }}" type="text" name="{{ bill.buyer_name.name }}" value="{% if bill.buyer_name.value != None %}{{ bill.buyer_name.value }}{% endif %}" tabindex="1">
				<label class="mdl-textfield__label" for="id_{{ bill.buyer_name.name }}">Buyer</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<textarea class="mdl-textfield__input" type="text" id="id_{{ bill.buyer_address.name }}" name="{{ bill.buyer_address.name }}" tabindex="2" rows="3"">{% if bill.buyer_address.value != None %}{{ bill.buyer_address.value }}{% endif %}</textarea>
				<label class="mdl-textfield__label">Address</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="id_{{ bill.buyer_gstin.name }}" name="{{ bill.buyer_gstin.name }}" value="{% if bill.buyer_gstin.value != None %}{{ bill.buyer_gstin.value }}{% endif %}" tabindex="3">
				<label class="mdl-textfield__label">GSTIN</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="number" id="id_{{ bill.buyer_mobile.name }}" name="{{ bill.buyer_mobile.name }}" value="{% if bill.buyer_mobile.value != None %}{{ bill.buyer_mobile.value }}{% endif %}" tabindex="4" maxlength="10">
				<label class="mdl-textfield__label">Mobile</label>
			</div>

			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="date" id="id_{{ bill.date_of_issue.name }}" name="{{ bill.date_of_issue.name }}" value="{% if bill.date_of_issue.value != None %}{{ bill.date_of_issue.value }}{% endif %}" tabindex="5" placeholder="">
				<label class="mdl-textfield__label">Date</label>
			</div>
			
			<input class="mdl-cell mdl-cell--4-col-phone mdl-cell--2-offset-tablet mdl-cell--3-col-tablet mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" type="submit" name="Create Bill" tabindex="6">
		</form>
	</div>
{% endblock %}