{% extends 'base.html' %}

{% block title %}{{ block.super }} | Type of bill{% endblock %}

{% block content %}
<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-shadow--4dp">

		<div class="mdl-card__title">
			<h1 class="mdl-card__title-text">Type of Bill ?</h1>
		</div>

		<div class="mdl-grid">
			<a class="mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--3-offset-desktop mdl-cell--3-col-desktop mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'bill:new_goods' %}">Goods</a>
			
			<a class="mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--3-col-desktop mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="" disabled>Service</a>
		</div>

	</div>

</div>
{% endblock %}