.SimpleCard {
    border-radius: 10px;
    padding: 16px 24px;
    color: #FFF;
    width: 320px;
    background-color: #9E579D;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
}

.SimpleCard h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.SimpleCard p {
    font-size: 11px;
    font-weight: 400;
}

.SimpleCard .actions {
    display: flex;
    justify-content: flex-end;
}

.SimpleCard a {
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
}