.PriceCard {
    border-radius: 10px;
    padding: 16px;
    color: #FFF;
    width: 230px;
    background-color: #9E579D;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);

    .headerSection {
        display: flex;
        justify-content: space-between;
    }

    .priceSection {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        .quantity {
            font-size: 10px;
            margin-top: 4px 0 0 0;
            vertical-align: text-bottom;
        }

        .price {
            font-size: 16px;
            margin: 0;
        }
    }

    .headerSection {
        .description {
            h1 {
                margin: 0;
                font-size: 16px;
                font-weight: 700;
            }

            p {
                margin: 0;
                font-size: 11px;
                font-weight: 100;
            }
        }
    }
}