{% extends "base.html" %}

{% block title %}{{ block.super }} | Home {% endblock %}

{% block content %}
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
			<h3 class="text-center">Invoicer</h3>
		</div>
		<a class="mdl-cell mdl-cell--4-col-phone mdl-cell--1-offset-tablet mdl-cell--3-col-tablet mdl-cell--3-offset-desktop mdl-cell--3-col-desktop mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" href="{% url 'accounts:login' %}">Login</a>
		<a class="mdl-cell mdl-cell--4-col-phone  mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" href="{% url 'bill:signup' %}">Register</a>
	</div>
{% endblock %}